@model HOTEL_MANAGEMENT.Models.Room

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/StyleDetailsRoom.css" rel="stylesheet" type="text/css" media="screen" runat="server" />

<h2 class="text-center" style="color: #1781A6;padding: 2% 0;"><b>ROOM'S INFORMATION</b></h2>
<section class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12" style="margin-left: 18%;">
            <div class="card">
                <img class="img" src="@Model.Image_Room" alt="ROOM" style="width: 100%;">
                <div class="container">
                    <h4> Type room: <b>@Model.Type_Room</b></h4>
                    <h4> Price: <b>@Model.Price $</b></h4>
                    <h4> Disponibility: <b>True</b></h4>
                    <h4> Hotel: <b>@Model.Hotel.Name_Hotel</b></h4>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    @if (Session["Roles"] != null && Session["Roles"].ToString().ToLower() == "true")
    {
        <div class="row" style="margin-left: 8px;overflow: hidden;margin-top: 2%;">
            <div class="col-lg-offset-4">
                <a href="/Rooms/Edit/@Model.Id_Room" class="btn btn-primary">To Modify</a>
                <a href="/Rooms/Index" class="btn btn-primary">Go to the list</a>
                <a href="/Hotels/Details/@Model.Id_Hotel" class="btn btn-primary">Back to the Hotel</a>
            </div>
        </div>
    }
    else
    {
        <div class="row" style="margin-left: 80px;overflow: hidden;margin-top: 2%;">
            <div class="col-lg-offset-4">
                <a href="/Rooms/Index" class="btn btn-primary">Go to the list</a>
                <a href="/Hotels/Details/@Model.Id_Hotel" class="btn btn-primary">Back to the Hotel</a>
            </div>
        </div>
    }

</div>

@*<style>

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 46%;
        border-radius: 8px;
        margin-left: 7%;
        overflow: hidden;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .container {
        padding: 2px 16px;
        overflow: hidden
    }
</style>*@

