
@{
    ViewBag.Title = "ErrorAuthorisation";
}

<h2>ErrorAuthorisation</h2>

<div class="container">
    <div class="row">
        <div class="text-center">
            <h2>This action is not allowed</h2>
            @Html.ActionLink("Back to home page", "Index", "Hotels")
        </div>
    </div>
</div>